:root {
  --color-background: #fdfaf6;
  --color-light-green: #99bc85;
  --color-deep-green: #3d8d7a;
  --color-container-background: #faf1e6;
  --color-content-font: #685752;

  font-family: 'Pretendard', 'Noto Sans KR', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  background-color: var(--color-background);
  min-width: 320px;
  min-height: 100vh;
}

#root {
  width: 100%;
}
